
college 1 - Introduction Data Science stack 1/.ipynb_checkpoints/1_Introductie_Machine_Learning-checkpoint.ipynb
college 1 - Introduction Data Science stack 1/.ipynb_checkpoints/DEPRECATED - NumPy - opdrachten-antwoorden-checkpoint.ipynb
college 5 - Unsupervised learning/.ipynb_checkpoints/Unsupervised learning-checkpoint.ipynb
college 1 - Introduction Data Science stack 1/.ipynb_checkpoints/Jupyter_Slides_Demo-checkpoint.ipynb
college 1 - Introduction Data Science stack 1/.ipynb_checkpoints/introductie_visualiseren_data-checkpoint.ipynb
college 1 - Introduction Data Science stack 1/.ipynb_checkpoints/Introductie_pandas_met_opdrachten-checkpoint.ipynb
college 1 - Introduction Data Science stack 1/.ipynb_checkpoints/introductie_numPy_met_opdrachten-checkpoint.ipynb
